<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-4 fh5co-widget">
        <h3><a routerLink="/">Event Elektro</a></h3>
        <p>Event Elektro ist ein Non-Profit Verein. Alle kostenüberdeckenden Einnahmen werden in den Ausbau des Vereins gesteckt. Neugründung im Jahre 2017. Wohnhaft in der Schweiz ZH Mönchaltdorf.</p>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
        <ul class="fh5co-footer-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
        <ul class="fh5co-footer-links">
        </ul>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
        <ul class="fh5co-footer-links">
        </ul>
      </div>
    </div>

    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2019 Event Elektro. All Rights Reserved.</small> 
        </p>
        
          <ul class="fh5co-social-icons">
            <li><a target="_blank" href="https://www.facebook.com/eventelektro"><i class="icon-facebook"></i></a></li>
          </ul>
        
      </div>
    </div>

  </div>
</footer>