<header id="fh5co-header" class="fh5co-cover fh5co-cover-ss" role="banner" style="background-image:url(assets/images/slider/IMG_3378-min.JPG);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 text-center">
        <div class="display-t">
          <div class="display-tc animated bounceIn">
            <h1>About Us</h1>
            <h2>Lerne unser Team kennen!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="fh5co-about">
  <div class="container">
    <div class="row justify-content-md-center animated bounceIn">
      <div class="col-12 text-center fh5co-heading">
        <span>Productive Staff</span>
        <h2>Meet Our Team</h2>
        <p>Unser Team besteht aus jungen motivierten und genauso talentierten Mitgliedern. Die meisten sind erfahrene
          Elektroinstallateure und haben ein breit gestreutes Fachwissen.</p>
      </div>
    </div>
    <!--First Row-->
    <div class="row">
      <div class="col-md-4 col-sm-4 animated bounceIn">
        <div class="fh5co-staff">
          <img src="assets/images/team/luca_manale.jpg" alt="Luca Manale">
          <h3>Luca Manale</h3>
          <strong class="role">Kassier</strong>
          <p class="d-none">Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque
            aspernatur expedita. Possimus itaque adipisci.</p>
          <ul class="fh5co-social-icons">
            <li><a href="mailto:luca.manale@eventelektro.ch"><i class="icon-mail"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 animated bounceIn">
        <div class="fh5co-staff">
          <img src="assets/images/team/marco_wuethrich.jpg" alt="Marco Wüthrich">
          <h3>Marco Wüthrich</h3>
          <strong class="role">Revisor & ICT-Manager</strong>
          <p class="d-none">Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque
            aspernatur expedita. Possimus itaque adipisci.</p>
            <ul class="fh5co-social-icons">
              <li><a href="mailto:marco.wuethrich@eventelektro.ch"><i class="icon-mail"></i></a></li>
            </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 animated bounceIn">
        <div class="fh5co-staff">
          <img src="assets/images/team/dario_keller.jpg" alt="Dario Keller">
          <h3>Dario Keller</h3>
          <strong class="role">Vereinspräsident</strong>
          <p class="d-none">Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque
            aspernatur expedita. Possimus itaque adipisci.</p>
            <ul class="fh5co-social-icons">
              <li><a href="mailto:dario.keller@eventelektro.ch"><i class="icon-mail"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
      <!--Second Row -->
    <div class="row">

      <div class="col-md-4 col-sm-4 animated bounceIn">
        <div class="fh5co-staff">
          <img src="assets/images/team/sergio_keller.jpg" alt="Sergio Keller">
          <h3>Sergio Keller</h3>
          <strong class="role">Vizepräsident & Materialmanager</strong>
          <p class="d-none">Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque
            aspernatur expedita. Possimus itaque adipisci.</p>
            <ul class="fh5co-social-icons">
              <li><a href="mailto:sergio.keller@eventelektro.ch"><i class="icon-mail"></i></a></li>
            </ul>
        </div>
      </div>

        <div class="col-md-4 col-sm-4 animated bounceIn">
          <div class="fh5co-staff">
            <img src="assets/images/team/mathias_ambauen.jpg" alt="Mathias Ambauen">
            <h3>Mathias Ambauen</h3>
            <strong class="role">Aktuar</strong>
              <p class="d-none">Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit
                eaque aspernatur expedita. Possimus itaque adipisci.</p>
                <ul class="fh5co-social-icons">
                  <li><a href="mailto:mathias.ambauen@eventelektro.ch"><i class="icon-mail"></i></a></li>
                </ul>
          </div>
        </div>
  
 
          <div class="col-md-4 col-sm-4 animated bounceIn">
            <div class="fh5co-staff">
              <img src="assets/images/team/unknown_user.png" alt="Gilles Crameri">
              <h3>Gilles Crameri</h3>
              <strong class="role">Personalmanager & Clubraum-Manager</strong>
              <p class="d-none">Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque
                aspernatur expedita. Possimus itaque adipisci.</p>
                <ul class="fh5co-social-icons">
                  <li><a href="mailto:gilles.crameri@eventelektro.ch"><i class="icon-mail"></i></a></li>
                </ul>
            </div>
          </div>
    </div>

    <!--Third Row -->
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-4 animated bounceIn">
        <div class="fh5co-staff">
          <img src="assets/images/team/unknown_user.png" alt="Ivo Bollin">
          <h3>Ivo Bollin</h3>
          <strong class="role">Vereinsmitglied</strong>
          <p class="d-none">Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit
            eaque aspernatur expedita. Possimus itaque adipisci.</p>
          <ul class="fh5co-social-icons">
            <li><a href="mailto:ivo.bollin@eventelektro.ch"><i class="icon-mail"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Third Row -->
  </div>
</div>
