<div class="product-card">

  <div class="row">

    <!-- Image -->
    <div class="col-lg-4 product-card-image-box">
      <img class="product-card-img" [src]="getImagePath(product)" [alt]="getProductName(product)"/>
    </div>

    <!-- Detail -->
    <div class="col-lg-8 ">
      <div class="product-card-title">
        <a><strong>{{getProductName(product)}}</strong></a>
      </div>
      <div class="table-responsive">
        <table class="table product-card-detail-table">
          <tbody>
          <tr>
            <th scope="row">Zuordnung:</th>
            <td>{{product.category}} > {{product.group}}</td>
          </tr>
          <tr>
            <th scope="row">Artikelnummer:</th>
            <td>{{product.code}}</td>
          </tr>
          <tr>
            <th scope="row">Mietpreis:</th>
            <td>{{getRentPrice(product)}}</td>
          </tr>
          <tr>
            <th scope="row">Verfügbar:</th>
            <td>{{product.number}} Stk.</td>
          </tr>
          <tr *ngIf="documentsExist(product)">
            <th scope="row">Dokumente:</th>
            <td><a [href]="getDocPath(product)" [download]="getDocName(product)"><i class="fas fa-file-pdf"></i> PDF</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr class="product-card-separator">
</div>
