<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
        style="background-image:url(assets/images/slider/IMG_3325-min.JPG);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 text-center">
        <div class="display-t">
          <div class="display-tc animated zoomIn">
            <h1>Contact Us</h1>
            <h2>Wir freuen uns über jede Nachricht</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="fh5co-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-push-1 animated zoomIn">

        <div class="fh5co-contact-info">
          <h3>Contact Information</h3>
          <ul>
            <li class="address"><a href="https://goo.gl/maps/nFX2JCw9zQJ2" target="_blank">
              Usterstrasse 43<br> 8617 Mönchaltorf <br> CH Schweiz</a></li>
            <!--<li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>-->
            <li class="email"><a href="mailto:info@eventelektro.ch">info@eventelektro.ch</a></li>
            <li class="url"><a href="https://www.eventelektro.ch">Eventelektro.ch</a></li>
          </ul>
        </div>

      </div>
      <div class="col-md-6 animated zoomIn">
        <h3>Get In Touch</h3>
        <form (ngSubmit)="sendMail()">
          <div class="row form-group">
            <div class="col-md-6">
              <!-- <label for="fname">First Name</label> -->
              <input type="text" class="form-control" placeholder="Dein Vorname"
                     required minlength="3" maxlength="24"
                     [(ngModel)]="firstname" name="firstname" id="firstname">
            </div>
            <div class="col-md-6">
              <!-- <label for="lname">Last Name</label> -->
              <input type="text" class="form-control" placeholder="Dein Nachname"
                     required minlength="3" maxlength="24"
                     [(ngModel)]="lastname" name="lastname" id="lastname">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <!-- <label for="email">Email</label> -->
              <input type="email" class="form-control" placeholder="Deine E-Mail Adresse"
                     required minlength="5" maxlength="24"
                     [(ngModel)]="email" name="email" id="email">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <!-- <label for="subject">Subject</label> -->
              <input type="text" id="subject" class="form-control" placeholder="Dein Thema deiner Mitteilung"
                     [(ngModel)]="subject" name="subject" required minlength="2" maxlength="24">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <!-- <label for="message">Message</label> -->
              <textarea cols="30" rows="10" class="form-control"
                        placeholder="Was möchtest du uns mitteilen..."
                        required minlength="5" maxlength="120"
                        [(ngModel)]="content" name="content" id="content"></textarea>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
