<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2">
        <div id="fh5co-logo"><a routerLink="/"><img src="assets/logo/eventelektro_logo_small.jpg" height="28px"></a></div>
      </div>
      <div class="col-md-6 col-xs-6 text-center menu-1">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About us</a></li>
          <li><a routerLink="/products">Products</a>
          <li><a routerLink="/images">Images</a>
          <li><a routerLink="/contact">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>