<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(assets/images/slider/agb_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 text-center">
        <div class="display-t">
          <div class="display-tc animated zoomInUp">
            <h1>Allgemeine Geschäftsbedingungen</h1>
            <h2>Allgemeine Geschäftsbedingungen wiederspiegeln unsere Werte.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <div class="col-12 fh5co-heading animated zoomInRight" id="conditions">
        <h3>&sect;1 Allgemeine Pflichten</h3>
        <p>Der Mieter verpflichtet sich, die Miete so wie vereinbart zu bezahlen, den Mietgegenstand ordnungs- und
          vertragsgem&auml;ss zu behandeln und bei Beendigung des Mietverh&auml;ltnisses ges&auml;ubert, betriebsbereit
          und vollgetankt zur&uuml;ckzugeben.</p>
        <h3>&sect;2 Eigentum</h3>
        <p>Das von uns vermietete Material bleibt unser Eigentum. Es kann nicht ver&auml;ussert, belehnt oder
          verpf&auml;ndet werden. An den Mietsgegenst&auml;nden d&uuml;rfen weder &Auml;nderungen vorgenommen, noch
          irgendetwas entfernt werden. Das Mietmaterial ist nicht gegen Diebstahl versichert. Das von uns ausgeliehene
          Material darf nur zum vorgesehen Zweck verwendet werden.</p>
        <h3>&sect;3&nbsp;M&auml;ngel des Mietgegenstandes</h3>
        <p>Bei Abholung des Mietgegenstandes hat der Mieter oder eine von ihm beauftragte Person ein
          &Uuml;bernahmeprotokoll zu unterzeichnen, in dem evtl. festgestellte M&auml;ngel oder Besch&auml;digung
          festgehalten werden. Erkennbare M&auml;ngel oder Besch&auml;digungen, die nicht im &Uuml;bernahmeprotokoll
          festgehalten werden, k&ouml;nnen nicht ger&uuml;gt werden. Der Vermieter kann nicht haftbar gemacht werden,
          wenn das Material zum vereinbarten Zeitpunkt durch technische Defekte oder h&ouml;herer Gewalt oder anderen
          Umst&auml;nden nicht oder nur teilweise zur Verf&uuml;gung steht.</p>
        <h3>&sect;4 Versicherung</h3>
        <p>Alle Versicherungen im Zusammenhang mit dem Material w&auml;hrend der gesamten Mietdauer ist Sache des
          Mieters.</p>
        <h3>&sect;5 Zahlung</h3>
        <p>Die Rechnung ist bei der &Uuml;bergabe des Material am ersten Tag bar zu begleichen.</p>
        <h3>&sect;6 Depot</h3>
        <p>Das Depot ist gem&auml;ss Offerte am ersten Tag abzugeben und wird nach Eingang des Materials
          zur&uuml;ckbezahlt, sofern das Material in einwandfreiem Zustand ist.</p>
        <h3>&nbsp;&sect;7 Pflichten des Mieters</h3>
        <p>Der Mieter ist verpflichtet:</p>
        <ol class="agb">
          <li>vor Inbetriebnahme des Mietgegenstands die Bedienungsanleitung und die Sicherheitsanweisung
            sorgf&auml;ltig durchzulesen, diese zu beachten und sich bei R&uuml;ckfragen unverz&uuml;glich an den
            Vermieter zu wenden;</li>
          <li>den Mietgegenstand vor &Uuml;berbeanspruchung zu sch&uuml;tzen.</li>
          <li>f&uuml;r sach &ndash; und fachgerechte Wartung und Pflege des Mietgegenstandes aufzukommen, insbesondere
            Betriebsstoffe (Wasser, &Ouml;le, Fette, Kraftstoffe), Reinigungsmittel usw. nur in einwandfreier
            Beschaffenheit oder wie in der Betriebsanleitung oder vom Vermieter ausdr&uuml;cklich vorgeschrieben zu
            verwenden;</li>
          <li>dem Vermieter eingetretene Besch&auml;digungen oder Funktionsst&ouml;rungen unverz&uuml;glich zu melden.
            Wenn erforderlich, ist der Mietgegenstand sofort ausser Betrieb zu setzen und eine Weisung des Vermieters
            abzuwarten;</li>
          <li>ihm obliegende notwendige Instandsetzungsarbeiten unverz&uuml;glich sach &ndash; und fachgerecht unter
            Verwendung von Original &ndash; oder gleichwertigen Ersatzteilen auf seine Kosten vornehmen zu lassen. Die
            erforderlichen Ersatzteile sind &uuml;ber den Vermieter zu beziehen.</li>
          <li>den Mietgegenstand gegen Diebstahl etc. ausserhalb der Arbeitszeit so gut wie m&ouml;glich gegen
            Witterungseinfl&uuml;sse zu sch&uuml;tzen;</li>
          <li>daf&uuml;r zu sorgen, dass der Mietgegenstand nur durch geschulte oder eingewiesene Personen bedient
            wird, die hierzu k&ouml;rperlich und geistig in der Lage sind. Sofern f&uuml;r den Betrieb des
            Mietgegenstandes besondere Lizenzen oder Erlaubnisse erforderlich sind, hat der Mieter sicherzustellen,
            dass diese vorhanden und g&uuml;ltig sind.</li>
        </ol>
        <p>Der Vermieter ist berechtigt, den Mietgegenstand nach vorheriger Ank&uuml;ndigung zu besichtigen und nach
          vorheriger Abstimmung mit dem Mieter selbst zu untersuchen oder durch einen Beauftragten untersuchen zu
          lassen. Der Mieter ist verpflichtet, dem Vermieter die Untersuchung in jeder Weise zu erleichtern.</p>
        <h3>&sect;8 R&uuml;ckgabe Verluste und defektes Material</h3>
        <p>Das komplette Material muss in unbesch&auml;digtem, trockenem, normal sauberem Zustand und vollgetankt
          zur&uuml;ckgegeben werden. Defektes Material muss getrennt vom restlichen Mietmaterial zur&uuml;ckgegeben,
          sowie gekennzeichnet werden. Nicht p&uuml;nktlich zur&uuml;ckgebrachtes Material wird zus&auml;tzlich
          verrechnet gem&auml;ss &sect;9. Nachdem das Material komplett zur&uuml;ckgegeben worden ist, erfolgt die
          Depotr&uuml;ckzahlung. Bei kleineren Sch&auml;den und Verlusten kann der Vermieter das Depot
          zur&uuml;ckhalten, bis der Schaden repariert oder das Material vervollst&auml;ndigt ist und er die Rechnung
          bekommen hat. &Uuml;bersteigen die Kosten das Depot wird der Restbetrag in Rechnung gestellt und muss innert
          30 Tagen bezahlt werden.</p>
        <p>Bei nicht mehr reparierbarem oder verloren gegangenem Material wird der Einkaufspreis verrechnet. Dies gilt
          ebenso bei Besch&auml;digung infolge von unvorhergesehenen Naturkatastrophen, Vandalismus jeglicher Art,
          Terror, Aufruhr, Krieg, etc.</p>
        <h3>&sect;9 Termine</h3>
        <p>Wird das Material l&auml;nger als vereinbart behalten, wird dem Mieter das Doppelte des Mietpreises pro Tag
          in Rechnung gestellt oder vom Depot abgezogen.</p>
        <h3>&sect;10 Gerichtsstand</h3>
        <p>Uster</p>
        <h3>&nbsp;&sect;11 Weiter Bestimmungen</h3>
        <ol class="agb">
          <li>Ohne Zustimmung des Vermieters darf der Mieter keine Ver&auml;nderungen oder Instandsetzungen an der
            Mietsache vornehmen, vornehmen lassen oder dulden. Alle sich hieraus ergebenden Folgen gehen zu Lasten des
            Mieters.</li>
          <li>&Auml;nderungen und Erg&auml;nzungen des Vertrages m&uuml;ssen schriftlich getroffen werden. Im
            &Uuml;brigen gilt das Schweiz. Obligationenrecht &uuml;ber den Miet &ndash; und Werkvertrag.</li>
        </ol>
        <p>&nbsp;&nbsp;</p>
        <p>M&ouml;nchaltorf, 11.8.2017</p>
      </div>
    </div>
  </div>
</div>