<header id="fh5co-header" class="fh5co-cover fh5co-cover-ss" role="banner" style="background-image:url(assets/images/slider/IMG_3328-min.JPG);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 text-center">
        <div class="display-t">
          <div class="display-tc animated fadeIn">
            <h1>Unser Sortiment</h1>
            <h2>Material-Sharing ist günstig und schadet der Umwelt nicht</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<header class="product-list-card">
  <div class="container">
    <br />
    <hr class="filter-separator">
    <div class="row">
      <div class="col-3 filter-txt">
        <a>Begrenze die Suche</a>
      </div>
      <div class="col-4">
        <a class="filter-txt-right">Kategorie:</a>
        <div class="dropdown">
          <div class="dropdown-btn"><span>{{selectedCategory}}</span></div>
          <div class="dropdown-content">
            <div *ngFor="let cat of categories">
              <p>{{cat}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <a class="filter-txt-right">Gruppe:</a>
        <div class="dropdown">
          <div class="dropdown-btn"><span>{{selectedGroup}}</span></div>
          <div class="dropdown-content">
            <div *ngFor="let group of groups">
              <p>{{group}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="filter-separator">
    <br/>

    <app-product-card *ngFor="let product of products"
    [product]="product"></app-product-card>
  </div>
</header>