<header id="fh5co-header" class="fh5co-cover fh5co-cover-ss" role="banner" style="background-image:url(assets/images/slider/IMG_3328-min.JPG);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 text-center">
        <div class="display-t">
          <div class="display-tc animated fadeIn">
            <h1>Unser Sortiment</h1>
            <h2>Material-Sharing ist günstig und schadet der Umwelt nicht</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<header class="product-list-card">
  <div class="container">
    <br />
    <hr class="filter-separator">
    <div class="row">
      <div class="col-md-4 hidden-sm-down filter-txt">
        <div class="container">
          <div class="row">
            <a>Beschränke deine Suche:</a>
          </div>
          <div class="row">
            <a>Gefundene Produkte: {{getTotalSearchResults()}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 filter-txt">
        <div class="">
          <a class="filter-txt-right">Kategorie:</a>
          <div class="select-wrapper">
            <select div="product-select" (change)="onCategoryFilterSelect($event.target.value)">

              <option *ngFor="let cat of categories">
                {{cat}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4 filter-txt">
        <div class="">
          <a class="filter-txt-right">Gruppe:</a>
          <div class="select-wrapper">
            <select div="product-select" (change)="onGroupFilterSelect($event.target.value)">
              <option *ngFor="let group of groups">
                {{group}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <hr class="filter-separator">
    <br />

    <div class="row" *ngIf="isListEmpty()">
      <div class="col-12 no-data-found">
        Ups, momentan konnten keine Produkte gefunden werden.
        <br />
        <br />
      </div>
    </div>
    <app-product-card *ngFor="let product of results | paginate: { itemsPerPage: 5
      ,currentPage: p}" [product]="product"></app-product-card>

    <div class="paginate" *ngIf="!isListEmpty()">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</header>
