.product-list-card{
    position: relative;
    float: left;
    width: 100%;
}

.filter-txt{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 21px;
}

.filter-txt-right{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    font-size: 21px;
}

.filter-separator{
    border-width: 2px;
    background-color: black;
}

.no-data-found{
    text-align: center;
    color: black;
    font-size: larger;
}

.select-wrapper{
    width: 80%;
    position: relative;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: green;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;

    outline: none;

    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

select option {
    color: #666;
}

select:focus::-ms-value {
    background-color: transparent;
}

.select-wrapper::before {
    font-family: fontello;
    content: "\25bc";
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 12px;
    color: #fff;
}