<header id="fh5co-header" class="fh5co-cover fh5co-cover-ss" role="banner" style="background-image:url(assets/images/slider/IMG_5487-min.JPG);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 text-center">
        <div class="display-t">
          <div class="display-tc animated bounceIn">
            <h1>Bilder & Medien</h1>
            <h2>Tauche ein in die Welt von Eventelektro </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="fh5co-about">
  <div class="overlay"></div>
  <div class="container">
    <h2 class="text-center">Summer Never Ends - Rona GR</h2>
    <div class="row justify-content-md-center">
      <div class="col-12">
        <gallery [items]="images" thumbPosition="left"></gallery>
      </div>
    </div>
  </div>
</div>