<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
        style="background-image:url(assets/images/slider/IMG_5448-min.JPG);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 text-center">
        <div class="display-t">
          <div class="display-tc animated jackInTheBox">
            <h1>Herzlich Willkommen</h1>
            <h2>Eventelektro Ihr Event-Dienstleister von A bis Z<br/>
              <a style="color: yellow" routerLink="/products"> Wir haben unsere <strong>Produkte</strong> aktuallisiert</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
